@use '@angular/material' as mat;

html {
  @include mat.core();

  color-scheme: light;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #faf9fc;
}

.snackbar-erro {
  --mdc-snackbar-container-color: #b3261e;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;
}

.snackbar-sucesso {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;
}
